VITE_GROQ_API_KEY=coloque_sua_chave_groq_aqui
VITE_GROQ_MODEL=llama-3.3-70b-versatile
VITE_GROQ_WHISPER_MODEL=whisper-large-v3-turbo
VITE_OPENAI_API_KEY=coloque_sua_chave_openai_aqui
VITE_OPENAI_WHISPER_MODEL=whisper-1
